
@using LoGioca.Models;
@model IEnumerable<Lgpartita>



    <div id="Calendario" class="tabcontent">
        <h3>Calendario</h3>
        

        <table class="table" id="tabCalendario">
            <tr class="thead-index">

                <th class="headTdTab">Data</th>
                <th class="headTdTab">Meteo</th>
                <th class="headTdTab">impianto</th>
                <td></td>
                <td></td>
            </tr>

            @foreach (Lgpartita partita in Model)
            {

                <tr class="Styletr">

                    <td onclick="MostraCaricamento(); modalDettaglio('@partita.IdPartita')">@partita.DataOra</td>
                    <td onclick="MostraCaricamento(); modalDettaglio('@partita.IdPartita')">@partita.Meteo</td>
                    <td onclick="MostraCaricamento(); modalDettaglio('@partita.IdPartita')">@partita.Impianto</td>


                    <td>

                        <img title="Elimina" id="TastoElimina" onclick="Elimina(@partita.IdPartita)" src="~/images/Icone_Cestino.png" style="cursor:pointer" />

                    </td>

                    <td>

                        <img title="Modifica" id="TastoModifica" onclick="GetModEvento(@partita.IdPartita)" src="~/images/Icone_modifica.png" style="cursor:pointer" />

                    </td>



                </tr>

            }

        </table>
    </div>










