@using LoGioca.BLL.DTOs;


@model popupPartitaDTO


<div>
    <div style="margin:unset" class="row">
        <div class="col selectInfoBox">
            <label>Sport:</label>
            <select id="sportSelect">
                @{
                    foreach (var sport in Model.sport)
                    {
                        <option data-value="@sport.IdSport">@sport.Descrizione</option>
                    }
                }
            </select>
            <br />
            <label>Palinsesto:</label>
            <input type="text" />
            <br/>
            <label>Fischio d'inizio:</label>
            @{ var Time = DateTime.Now.ToString(); }
            <input type="time" value="@Time.Substring(11,5)" />

        </div>
    </div>
    <div id="idFilterDiv row" style="margin:unset">
        <div>
            <label>Giocatori:</label>
        </div>
        <div class="row headerSelectPlayer" style="margin:unset">
            <div class="col">
                <label>Cerca:</label>
                <input id="filterTextPlayer" onkeyup="filterPlayer()" type="text" style="width: 60%;" />
            </div>
            <div class="col selectAll">
                <label>Seleziona tutti</label>
                <input onclick="checkAllSelect(this)" type="checkbox" />
            </div>
        </div>
        <div class="selectPlayerBox">
            <table id="tablePlayer">
                @if (Model.giocatori != null)
                {
                    @foreach (var giocatore in Model.giocatori)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" value="@giocatore.IdGiocatore" />
                                <label style="padding-left: 0.5em;">@giocatore.Cognome @giocatore.Nome</label>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div style="text-align:center; padding-top:1em">
            <button style="border-radius: revert";>Salva</button>
        </div>
    </div>
